.container{
    width: 80%;
    margin: 0px auto;
}
.content-table{
	border-collapse: collapse;
	margin: auto;
	font-size: 0.9em;
	min-width: 400px;
	width: 70%;
	border-radius: 5px 5px 0 0;
	overflow: hidden;
	overflow-y: scroll;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    position: relative;
}

.content-table thead tr{
	background-color: #009879;
	color: #fff;
	text-align: left;
	font-weight: bold;
}

.content-table th,
.content-table td{
	padding: 12px 15px;
}

.content-table tbody tr{
	border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
	background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type{
	border-bottom: 2px solid #009879;
}

.content-table .edit{
	color: green;
}

.content-table .delete{
	color: red;
}

form {
    width: 45%;
    margin: 50px auto;
    text-align: left;
    padding: 20px; 
    border: 1px solid #bbbbbb; 
    border-radius: 5px;
}

.input-group {
    margin: 10px 0px 10px 0px;
}
.input-group label {
    display: block;
    text-align: left;
    margin: 3px;
}
.input-group input {
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
}
.btn {
    padding: 10px;
    font-size: 15px;
    color: white;
    background: #5F9EA0;
    border: none;
    border-radius: 5px;
}
.edit_btn {
    text-decoration: none;
    padding: 2px 5px;
    background: #2E8B57;
    color: white;
    border-radius: 3px;
}

.del_btn {
    text-decoration: none;
    padding: 2px 5px;
    color: white;
    border-radius: 3px;
    background: #800000;
}
.msg {
    margin: 30px auto; 
    padding: 10px; 
    border-radius: 5px; 
    color: #3c763d; 
    background: #dff0d8; 
    border: 1px solid #3c763d;
    width: 50%;
    text-align: center;
}

.modal{
    width: 100%;
    
    background-color: grey;
    opacity: 0.7;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}
.modal-content{
    width: 500px;
    height: 300px;
    background-color: white;
    border-radius: 4px;
    text-align: center;
    padding: 20px;

}